<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<properties resource="db.properties"></properties>-->
    <settings>
        <setting name="logImpl" value="LOG4J"></setting>
    </settings>
    <typeHandlers>
        <typeHandler handler="com.alipay.fengya.docker.demo.mybatis.handler.ConverterHandler" javaType="Boolean"
                     jdbcType="INTEGER"/>
    </typeHandlers>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/soloman"/>
                <property name="username" value="root"/>
                <property name="password" value="123"/>
            </dataSource>
        </environment>
    </environments>
    <!--加载mapper-->
    <mappers>
        <mapper resource="BlogMapper.xml"/>
    </mappers>
</configuration>